.sales {
    clear: both;
    width: 50%;
    margin: 0 auto;
    font-family: 'Germania One', cursive;
    margin-bottom: 50px;
}

.month {
    clear: both;
    height: 25vh;
    background: #ff852c;
    /* color: #393939; */
    color: #4F3130;
    padding: 5vh 15vh
}

.period {
    text-decoration: underline;
}

.choice {
    width: 50%;
    float: left;
    font-size: 18px
}

.rm {
    width: 30%;
    float: left;
}

.sold {
    font-size: 18px
}

.viewbtn {
    width: 20%;
    float: left
}

.view {
    border: none;
    padding: 5px 10px;
    font-family: 'Germania One', cursive;
    font-size: 18px;
    border-radius: 10px;
    background: #FBD1A2
}

.view:hover {
    cursor: pointer;
    background: #502419;
    color: #ff852c
}

hr {
    margin: 0;
    border: 1px solid #393939;
}

.week {
    height: 25vh;
    background: #ff852c;
    color: #393939;
    color: #4F3130;
    padding: 5vh 15vh
}

.today {
    height: 35vh;
    background: #ff852c;
    color: #393939;
    color: #4F3130;
    padding: 5vh 15vh
}

th, td {
    border-bottom: 1px solid #393939;
    /* border-collapse: collapse; */
}

.tbody tr:hover {
    background-color: #f5f5f5
}

.details {
    border-collapse: collapse;
    text-align: center;
    width: 100%
}

#today {
    margin-bottom: 0
}

#date {
    margin-top: 5px
}

.thead {
    background: #393939;
    color: #fff;
    font-size: 18px;
    /* font-weight: normal; */
}

.tbody {
    background: navajowhite;
    font-size: 18px;
}

.tfoot {
    background: orange;
    font-size: 18px;
}

.tsales {
    text-align: right;
    border-right: 1px solid #393939;
    padding-right: 25px
}
