body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #4F3130;
  font-family: 'Germania One', cursive;
}

input[type=submit] {
  background-color: #4CAF50;
  color: #ff852c;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  /* padding: 10px; */
  font-family: 'Germania One', cursive;
  color: #4F3130

}

.contact {
    margin-top: 70px
}

#contactme {
    font-size: 2.5em
}

#sub {
    font-size: 1.5em
}

.columna form label {
    font-size: 1.25em
}



/* Create two columns that float next to eachother */
.columna {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.coleft {
    text-align: center;
}

#submit {
    background: #402519;
    font-family: 'Germania One', cursive;
    font-size: 1.25em
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#imglogo {
    height: 400px;
    background: #502419;
    border-radius: 50%
}

#imglogo:hover {
    background: #BE7C4D;
    background: none;
    box-shadow: 0px 10px 50px 0 #502419;
    /* border: 1px solid #502419 */
}
